@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais e fontes */
body {
    font-family: 'Public Sans', sans-serif;
    overscroll-behavior-y: none;
    /* Previne pull-to-refresh no mobile */
    height: 100%;
}

html {
    height: 100%;
}

/* Utilitários */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-filled {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Estilos customizados (Animações Legadas) */
/* Animações */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(1rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-from-bottom {
    from {
        transform: translateY(1rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-in {
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

.fade-in {
    animation-name: fade-in;
}

.slide-in-from-right-4 {
    animation-name: slide-in-from-right;
}

.slide-in-from-bottom-4 {
    animation-name: slide-in-from-bottom;
}